body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header{
display: flex;
position: fixed;
background-color: black;
height: 69px;
width: 100%;
border-bottom: 1px solid seashell;
top: 0px;
align-items: center;
}


header img{
padding-left: 10px;
height: 50px;
padding-right: 1000px;
}

header nav{
  text-decoration: underline;
  justify-content: space-between;
}

.main-container{


}

#mission{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  background-repeat: no-repeat;

  height: 700px;
  width: 1200px;

}
.teas {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  height: 700px;
  width: 1000px;
  padding-top: 70px;margin: auto;
}

.teas img{
  height: 200px;
  width: 300px;

}
